/* CSS declarations go here */

body {
    font-family: "Lato", sans-serif;
    /*
    background-image: url("/Logotype.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    border: 1px solid red;*/
}

/* Footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
/* End Footer */

