<template name="MainBody">
    <div id="main">
        {{#if currentUser}} 
            {{> menu}} 
            <center>{{> user_login}} </center>
            {{> Template.dynamic template=main}}
        {{else}}
            {{> informationToStartGame}} 
            <center>{{> user_login}} </center> 
        {{/if}}

        {{> footer}}
    </div>
</template>

<template name="StartPlayingOnBoard">
    {{> StartSecondPhase_Board}}
</template>

<template name="MainPage">
    {{> StartQuestions}}
</template>

<template name="informationToStartGame">
    <!--<div style="margin-left:25%;padding:1px 16px;height:1000px;">-->
    <div>
        <br>
        <h1 style="text-align: center">La Monada </h1>
        <h2>Para jugar a este juego es necesario conectarse a su cuenta de Google</h2>
        <h3>Simplemente se utilizará:</h3>
        <div>
            <li>Información básica de su perfil: Email, Nombre, Foto</li>
            <li>Consultar y administrar sus hojas de cálculo en Google Drive, como:</li>
            <li>Crear hojas de cálculo nuevas.</li>
            <li>Consultar y modificar las hojas de cálculo ya existentes.</li>
        </div>
    </div>
</template>

