<template name="MainBody">
    <div class="mainBody">
        {{#if currentUser}} 
            <div id="main" class="MainBoydeBackground">
                {{> menu}} 
                {{> user_login}}
                {{> Template.dynamic template=main}}    
            </div>
        {{else}}
            <div class="bgimg">
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <center>{{> user_login}} </center>
                <br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            {{> informationToStartGame}}
        {{/if}}

        {{> footer}}
    </div>
</template>

<template name="StartPlayingOnBoard">
    {{> StartSecondPhase_Board}}
</template>

<template name="MainPage">
    {{> StartQuestions}}
</template>

<template name="informationToStartGame">
    <div class="divForInformationText">
        <div class="row">
            <div class="col-sm-12 textIntoDiv">
                <p class="TextTitle">
                    La Monada
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {{> descriptionLaMonada}}
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <div class="dhn-info-div">
            <div class="row">
                <div class="col-sm-6">
                    {{> descriptionBoard}}
                </div>

                <div class="col-sm-6">
                    <div class="container">
                        <img src="BoardWithoutData.png">
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12 buttonLogIn">
                <center>
                    {{> user_login}}
                </center>
            </div>
        </div>
    </div>
</template>

<template name="descriptionLaMonada">
    <div class="descriptionText">
        La mónada es un juego-simulador que nos va enseñando cuáles son los elementos que sustentan el funcionamiento de la empresa
        y cómo afectan las diferentes operaciones a su patrimonio, resultados y creación de valor.
    </div>
</template>

<template name="descriptionBoard">
    <p>
        El juego consta de un tablero, que se ha diseñado con el balance en el centro como mónada o base de la información contable-financiera,
        y en torno a él giran la cuenta de resultados y el estado de flujos de efectivo para simbolizar la generación de
        resultados y de caja que se derivan del desempeño de la actividad de la empresa a partir de su patrimonio, reflejado
        en el balance.
    </p>
    <br>
    <br>
    <p>
        El tablero muestra la necesaria armonía, coherencia y relación que debe existir entre los tres estados contables representados,
        puesto que el resultado y el efectivo generados durante el ejercicio económico forman parte del balance.
    </p>
</template>